# Path to the Google Cloud credentials JSON file
GDRIVE_CREDENTIALS_FILE=./.config/gdrive/credentials.json

# The name of the log file for the gmail processing script
LOG_FILE=process_gmail_reports.log

# A local directory to temporarily store downloaded reports
REPORTS_DIR=./reports
